name: ronbugado-academy13-front-robot

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12.3
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.3'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install \
        robotframework \
        robotframework-requests \
        Faker \
        robotframework-seleniumlibrary \
        webdriver-manager

    - name: Run Robot Framework tests
      run: |
        robot --output results/ .
    
    - name: Resultado dos testes
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: robot-framework-report
        path: results

    - name: Upload Robot Framework reports
      uses: actions/upload-artifact@v4
      with:
        name: robot-framework-reports
        path: |
          output.xml
          report.html
          log.html
  
  deploy:
    name: Deploy GitHub Pages
    runs-on: ubuntu-latest
    if: always()
    needs: 
      - robot-tests
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: https://marceloabmartins.github.io/ronbugado-academy13-front-robot/results/report.html
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          enablement: true

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with: 
          name: report

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4